{{ 'section-testimonial-slider.css' | asset_url | stylesheet_tag }}
{{ 'component-slider.css' | asset_url | stylesheet_tag }}

<slideshow-component class="slider-mobile-gutter{% if section.settings.spacing_bottom %} section-space-bottom{% endif %}{% if section.settings.spacing_top %} section-space-top{% endif %}" role="region" aria-roledescription="Testimonial slideshow" aria-label="{{ section.settings.accessibility_info | escape }}">
  <div class="testimonial grid grid--1-col slider slider--everywhere"
    id="Slider-{{ section.id }}"
    aria-live="polite"
    aria-atomic="true"
    data-autoplay="{{ section.settings.auto_rotate }}"
    data-speed="{{ section.settings.change_slides_speed }}"
  >
    {%- for block in section.blocks -%}
      <div class="slideshow__slide testimonial__slide grid__item grid--1-col slider__slide color-{{ section.settings.color_scheme }}"
        id="Slide-{{ section.id }}-{{ forloop.index }}"
        {{ block.shopify_attributes }}
        role="group"
        aria-roledescription="{{ 'sections.slideshow.slide' | t }}"
        aria-label="{{ forloop.index }} {{ 'general.slider.of' | t }} {{ forloop.length }}"
        tabindex="-1"
      >
        <div class="page-width page-width--narrow center">
          <p>
            {{ block.settings.content }}
          </p>
          <p>
            <strong>
              {{ block.settings.attribution }}
            </strong>
          </p>
        </div>
      </div>
    {%- endfor -%}
  </div>

  {%- if section.blocks.size > 1 -%}
    {%- render 'slideshow-controls',
      section_id: section.id,
      blocks: section.blocks,
    -%}
  {%- endif -%}
</slideshow-component>

{%- if request.design_mode -%}
  <script src="{{ 'theme-editor.js' | asset_url }}" defer="defer"></script>
{%- endif -%}

{% schema %}
{
  "name": "Testimonial slider",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "select",
      "id": "color_scheme",
      "options": [
        {
          "value": "background-1",
          "label": "Background 1"
        },
        {
          "value": "background-2",
          "label": "Background 2"
        },
        {
          "value": "background-3",
          "label": "Background 3"
        }
      ],
      "default": "background-1",
      "label": "Color scheme"
    },
    {
      "type": "checkbox",
      "id": "auto_rotate",
      "label": "t:sections.slideshow.settings.auto_rotate.label",
      "default": true
    },
    {
      "type": "range",
      "id": "change_slides_speed",
      "min": 3,
      "max": 9,
      "step": 2,
      "unit": "s",
      "label": "t:sections.slideshow.settings.change_slides_speed.label",
      "default": 5
    },
    {
      "type": "header",
      "content": "t:sections.slideshow.settings.accessibility.content"
    },
    {
      "type": "text",
      "id": "accessibility_info",
      "label": "t:sections.slideshow.settings.accessibility.label",
      "info": "t:sections.slideshow.settings.accessibility.info",
      "default": "Slideshow about our brand"
    },
    {
      "type": "header",
      "content": "Section spacing"
    },
    {
      "type": "checkbox",
      "id": "spacing_top",
      "label": "Top",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "spacing_bottom",
      "label": "Bottom",
      "default": false
    }
  ],
  "blocks": [
    {
      "type": "testimonial",
      "name": "Testimonial",
      "settings": [
        {
          "type": "textarea",
          "id": "content",
          "label": "Content"
        },
        {
          "type": "text",
          "id": "attribution",
          "label": "Attribution"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Testimonial slider"
    }
  ]
}
{% endschema %}
